<form [formGroup]="form" class="form">
  <mat-card-content>

    <mat-form-field appearance="outline">
      <!--    <mat-label>Outline form field</mat-label>-->
      <input matInput placeholder="Brand">
      <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <!--    <mat-label>Outline form field</mat-label>-->
      <input matInput placeholder="Price">
      <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <!--    <mat-label>Outline form field</mat-label>-->
      <input matInput placeholder="Year">
      <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Create</button>
  </mat-card-actions>

</form>
