<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-error *ngIf="error">Wrong username or password</mat-error>
    <mat-card-content>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>

  </mat-card>
</form>
